* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  color: rgba(0, 0, 0, 0.824);
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.576);
}
.logo p {
  font-size: 22px;
  font-weight: 700;
  cursor: default;
  transition: 0.2s ease;
}
.logo p:hover {
  color: rgb(205, 0, 0);
}
.nav-links ul {
  display: flex;
  list-style: none;
  gap: 18px;
}
.nav-links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.824);
  transition: 0.3s ease;
  animation: 0.3s ease;
  font-size: 18px;
  border-bottom: 1px solid transparent;
}
.nav-icons ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
.nav-links a:hover {
  color: rgb(205, 0, 0);
  border-color: rgb(205, 0, 0);
}
.nav-icons a {
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s ease;

  color: rgba(0, 0, 0, 0.824);
}
.nav-icons a:hover {
  color: rgb(205, 0, 0);
}

.main-section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}
.main-section h1,
h2,
h3 {
  text-align: start;
  margin: 0 auto;
}
.main-section img {
  width: 100%;

  max-width: 700px;
  margin-top: 50px;
}
.main-section-text {
  text-align: start;
  margin-right: 50px;
  line-height: 60px;
}
.main-section-text h2 {
  font-size: 35px;
}
.main-section-text h3 {
  font-size: 35px;
  font-weight: 700;
}
.main-section-text h1 {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(205, 0, 0);
}
.btn {
  display: flex;
  gap: 20px;
}
.btn1 {
  margin-top: 40px;
  padding: 5px 10px;
  border-radius: 15px;
  width: 120px;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.5s ease;
}
.btn2 {
  margin-top: 40px;
  padding: 5px 10px;
  border-radius: 15px;
  width: 120px;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.5s ease;
}
.btn1:hover {
  background-color: rgb(205, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.462);
  color: white;
}
.btn2:hover {
  background-color: rgb(205, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.462);
  color: white;
}
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 90%;
  margin: 0 auto;
  height: 100vh;
}
.cards-container h2 {
  font-size: 40px;
  font-weight: 700;
  width: 100%;
  max-width: 300px;
  text-align: center;

  padding: 5px;
  background-color: rgb(205, 0, 0);
  color: white;
  border-radius: 15px;
}

.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: px;
}

.cards img {
  max-width: 250px;
  width: 100%;
  height: 100%;
  max-height: 400px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.856);
  transition: 0.4s ease;
  border-radius: 15px;
}
.cards img:hover {
  scale: 1.1;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.856);
}
@media screen and (max-width: 500px) {
  nav {
    display: none;
  }
  .main-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
  }
  .main-section-text h1,
  h2,
  h3 {
    text-align: center;
  }
  .main-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 90%;
  }
  .main-section img {
    width: 100%;

    box-shadow: 0px 5px 20px rgb(205, 0, 0);
  }
  .btn button {
    margin: 40px auto;
  }
  .cards {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .cards-container h2{
    font-size: 2rem;
    width: 100%;
    max-width: 60%;
  }
}
